<!DOCTYPE html>

<html>
    <head>
        <title>Flask Intro</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <!-- connecting to css  i did all this to connect to flask, the css has to be in another folder named static/ -->
         
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <!-- importing library called marked.js to format markdown answers -->
    </head>
    <body>
        <h1>Talk to Silver</h1>

        <p id="result"></p>
        <!-- empty because here goes result -->

        <div class="input-row">
        <!-- creating a class to modify these two in the css -->

        <input id="message-input" type="text" placeholder="Ask a question">
        <!-- input wher euser types their message -->

        <button id="send-button" class="button-86" role="button">Send</button>
        <!-- button for sending -->
            
        </div>


        <script>
            // this time the JS is written directly inside the HTML file
            // using a <script> tag is basically a mini JS file inside
            //  Both approaches work, we do this because its a small script
            const button = document.getElementById("send-button");
            const input = document.getElementById("message-input");
            const result = document.getElementById("result")

            button.addEventListener("click", async function() {
                // async means this function can wait for things to finish
                // We need this because sending data to Flask and waiting for a response
                // async lets JS wait without freezing the page

                button.disabled = true;
                result.innerHTML = "Getting answer from Gemini"
                // for disabling button in between the message
                
                const message = input.value;
                //read what user typed
                
                if (message === "") {
                    result.textContent = "Please type something first.";
                    return;
                }

                const response = await fetch("/ask", {
                    // 'fetch is JS's built-in function for sending HTTP requests
                    // '/ask' is the Flask route we are sending to
                    // 'await' means: wait here until Flask espons before continuing

                    method: "POST",
                    // we are sending data so we use POST, matching our Flask route

                    headers: { "Content-Type": "application/json" },
                    // Tells Flask: "the data im sending is in json format"

                    body: JSON.stringify({ message: message })
                    // JSON.stringify() converts the JS object into a JSON string
                    // { message: message } is the data we're sending to Flask
                    // Flask reads this with request.get_json()
                });

                const data = await response.json();
                //response.json() reads the json that Flask sent back
                // 'await' againg because we're waiting 

                // result.textContent = data.response;
                // data.response read the "response" key from Flask's jsonigy() return
                // this displays Flask's answer on the page

                result.innerHTML = marked.parse(data.response);
                //update, innerHTML render actual HTML, and marked.parse() converts markdown (of gemini's answer) into HTML <tags> for the formatting

                input.value = "";
                button.disabled = flase;
            });

            // for pressing enter keydown (everytime a key is pressed)
            // function(event) is the function that is going to run everytime a key is pressed
            // event.key is recognizing the enter key
            // button.click() programmatically clicks the send button
            input.addEventListener("keydown", function(event){
                if (event.key === "Enter") {
                    button.click();
                }
            });
        </script>

    </body>
</html>